body {
    font-family: 'Montserrat', sans-serif;
    background-color: salmon;
}

.start-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20rem;
}

.start-button {
    width: 150px;
    height: 60px;
    font-size: 1.5rem;
}

.slides {
    border: 10px solid red;
    padding: 20px;
    height: 40vh;
}