body {
    font-family: 'Montserrat', sans-serif;
    background-color: salmon;
}

.start-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20rem;
}

.start-button {
    width: 150px;
    height: 60px;
    font-size: 1.5rem;
}

.slides {
    border: 10px solid red;
    padding: 20px;
    height: 60vh;
}

#transform-slide h2 {
    font-size: 4rem;
    text-align: center;
    margin-top: 14rem;
}

.section-topic {
    font-size: 3rem;
    margin: 10rem 5rem 2rem;
}

.section-topic+p {
    margin: 0 5rem;
}

.test {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}